Repository Norgate-AV/NAVDatabase.Amx.ExtronDMP: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn pretty:fix, genlinx build -s

fix: remove include of Core lib
  src/mExtronDMPComm.axs
  src/mExtronDMPFaderUI.axs
  src/mExtronDMPFaderUIArray.axs
  src/mExtronDMPLevel.axs
  src/mExtronDMPLevelUI.axs
  src/mExtronDMPLevelUIArray.axs
  src/mExtronDMPPreset.axs
  src/mExtronDMPState.axs
  src/mExtronDMPStateUIArray.axs
Due: genlinx build -s

ci: disable build
  .github/workflows/main.yml
Due: yarn pretty:fix

chore: bump node to 18.16.1
  .nvmrc
Due: none

style: fix whitespacing and convert all tabs to spaces
  src/mExtronDMPComm.axs
  src/mExtronDMPFaderUI.axs
  src/mExtronDMPFaderUIArray.axs
  src/mExtronDMPLevel.axs
  src/mExtronDMPLevelUI.axs
  src/mExtronDMPLevelUIArray.axs
  src/mExtronDMPPreset.axs
  src/mExtronDMPState.axs
  src/mExtronDMPStateUIArray.axs
Due: genlinx build -s

feat: add StateUI module
  src/mExtronDMPStateUI.axs
Due: genlinx build -s

refactor: remove level functionality from state modules
  src/mExtronDMPStateUI.axs
  src/mExtronDMPStateUIArray.axs
Due: genlinx build -s

style: add spacing
  src/mExtronDMPLevelUI.axs
  src/mExtronDMPLevelUIArray.axs
Due: genlinx build -s

feat: add LibExtronDMP
  .genlinxrc.json
  lib/LibExtronDMP.axi
Due: yarn pretty:fix

style: add spacing
  src/mExtronDMPComm.axs
Due: genlinx build -s

refactor: include LibExtronDMP
  src/mExtronDMPComm.axs
Due: genlinx build -s

refactor: remove unused constants
  src/mExtronDMPComm.axs
Due: genlinx build -s

refactor: include LibExtronDMP
  src/mExtronDMPLevel.axs
  src/mExtronDMPPreset.axs
  src/mExtronDMPState.axs
Due: genlinx build -s

refactor: remove hungarian notation
  src/mExtronDMPComm.axs
  src/mExtronDMPFaderUI.axs
  src/mExtronDMPFaderUIArray.axs
  src/mExtronDMPLevel.axs
  src/mExtronDMPLevelUI.axs
  src/mExtronDMPLevelUIArray.axs
  src/mExtronDMPPreset.axs
  src/mExtronDMPState.axs
  src/mExtronDMPStateUI.axs
  src/mExtronDMPStateUIArray.axs
Due: genlinx build -s

refactor: increase max objects tags to 10
  lib/LibExtronDMP.axi
Due: none

feat: add _DspAttribute type
  lib/LibExtronDMP.axi
Due: none

feat: add ObjectTagInit function
  lib/LibExtronDMP.axi
Due: none

fix: correct constant name
  lib/LibExtronDMP.axi
Due: none

refactor: ensure attribute id is upper case
  lib/LibExtronDMP.axi
Due: none

refactor: add some constants
  lib/LibExtronDMP.axi
Due: none

perf: explicitly set tag array size after initialization
  lib/LibExtronDMP.axi
Due: none

refactor: use more conventional not equal to operator
  src/mExtronDMPComm.axs
Due: genlinx build -s

refactor: replace vdvControl with vdvObject
  src/mExtronDMPComm.axs
Due: genlinx build -s

refactor: replace vdvControl with vdvCommObject
  src/mExtronDMPLevel.axs
  src/mExtronDMPPreset.axs
  src/mExtronDMPState.axs
Due: genlinx build -s

refactor: implement device priority queue
  src/mExtronDMPComm.axs
Due: genlinx build -s

refactor: move heartbeat into function
  src/mExtronDMPComm.axs
Due: genlinx build -s

style: remove extra new line
  src/mExtronDMPComm.axs
Due: genlinx build -s

refactor: use TimelineUtils functions
  src/mExtronDMPComm.axs
Due: genlinx build -s

refactor: never nest where possible
  src/mExtronDMPComm.axs
Due: genlinx build -s

refactor: use NAVCommand instead of send_command
  src/mExtronDMPComm.axs
  src/mExtronDMPFaderUI.axs
  src/mExtronDMPFaderUIArray.axs
  src/mExtronDMPLevel.axs
  src/mExtronDMPLevelUI.axs
  src/mExtronDMPLevelUIArray.axs
  src/mExtronDMPPreset.axs
  src/mExtronDMPState.axs
Due: genlinx build -s

refactor: use TimelineUtils functions
  src/mExtronDMPComm.axs
  src/mExtronDMPLevel.axs
Due: genlinx build -s

refactor: remove username property
  src/mExtronDMPComm.axs
Due: genlinx build -s

refactor: use Snapi parsing functions and callback
  src/mExtronDMPComm.axs
Due: genlinx build -s

refactor: use _NAVCredential for password
  src/mExtronDMPComm.axs
Due: genlinx build -s

refactor: implement NAVStringGather functionality
  src/mExtronDMPComm.axs
Due: genlinx build -s

refactor: use _NAVModule built in members
  src/mExtronDMPComm.axs
Due: genlinx build -s

refactor: move guard clause into function to avoid nesting
  src/mExtronDMPComm.axs
Due: genlinx build -s

refactor: move initial string receive processing into a function
  src/mExtronDMPComm.axs
Due: genlinx build -s

refactor: update socket variables names
  src/mExtronDMPComm.axs
Due: genlinx build -s

refactor: remove redundant code
  src/mExtronDMPComm.axs
Due: genlinx build -s

Path conditions:
  yarn pretty:fix: any of: *.{css,scss,md,html,json,yml,yaml}
  genlinx build -s: any of: *.axs
