Repository Norgate-AV/NAVDatabase.Amx.ExtronDMP: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn pretty:fix, genlinx build -s

.lintstagedrc.json:

{
    "*?(test|spec).{js,jsx,ts,tsx}": ["yarn lint:fix", "yarn pretty:fix"],
    "*.{css,scss,md,html,json,yml,yaml}": ["yarn pretty:fix"],
    "*.axs": ["genlinx build -s"]
}

chore(release): 1.4.6 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn pretty:fix

Notes added by 'git notes add'
  f69ed14ef9e026766bc9bfdcfbc61dec0d48c20e
Due: none

refactor: pass tchannel struct directly to event function
  src/mExtronDMPLevel.axs
  src/mExtronDMPState.axs
Due: genlinx build -s

perf(level): use constant long array for timeline
  src/mExtronDMPLevel.axs
Due: genlinx build -s

chore(release): 1.4.7 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn pretty:fix

Notes added by 'git notes add'
  a63dce5a292158d020c94dae6fe9a5bbeb52852f
Due: none

ci: update ci scripts
  .gitattributes
  .github/workflows/main.yml
  .gitignore
  .prettierrc.json
  .releaserc.json
  build.ps1
  install.ps1
  manifest.json
Due: yarn pretty:fix

chore(node): bump to 22.13.0
  .nvmrc
Due: none

chore(deps): bump deps
  package.json
  pnpm-lock.yaml
Due: yarn pretty:fix

fix: fix release scripts
  .github/workflows/main.yml
  .releaserc.json
Due: yarn pretty:fix

chore(release): 1.4.8 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn pretty:fix

Notes added by 'git notes add'
  1ff47b686617805271c18ae6139fef0033d80590
Due: none

fix: fix path update in install script
  install.ps1
Due: none

chore(release): 1.4.9 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn pretty:fix

Notes added by 'git notes add'
  4f0ff9d5b2f9fa72af44067992cf7fdaf0e07905
Due: none

fix(level): fix VOLUME-ABS comparison
  src/mExtronDMPLevel.axs
Due: genlinx build -s

chore(release): 1.4.10 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn pretty:fix

Notes added by 'git notes add'
  1a99da7a87be8c3dc70b21e1b0b3f0fe69d18675
Due: none

ci: update install script
  install.ps1
Due: none

ci: update install script
  .github/workflows/main.yml
  install.ps1
Due: yarn pretty:fix

chore(node): bump to 22.14.0
  .nvmrc
Due: none

perf: remove unnecessary logging
  src/mExtronDMPComm.axs
  src/mExtronDMPFaderUI.axs
  src/mExtronDMPFaderUIArray.axs
  src/mExtronDMPLevel.axs
  src/mExtronDMPLevelUI.axs
  src/mExtronDMPLevelUIArray.axs
  src/mExtronDMPPreset.axs
  src/mExtronDMPState.axs
Due: genlinx build -s

chore(release): 1.4.11 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn pretty:fix

Notes added by 'git notes add'
  f0d085f931f94b8a5989aa40e212cfd73d0dca7d
Due: none

feat: bump NAVFoundation.Amx to 1.27.0
  manifest.json
Due: yarn pretty:fix

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn pretty:fix

Notes added by 'git notes add'
  bc684cb166c9e3f8da517392fc48b7ca872cd02f
Due: none

refactor: update log message
  src/mExtronDMPComm.axs
Due: genlinx build -s

feat: bump NAVFoundation to 1.32.0
  manifest.json
Due: yarn pretty:fix

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn pretty:fix

Notes added by 'git notes add'
  3f29f25eeb537fa023a1ac00633bae4416e4c28b
Due: none

feat: update to support NAVFoundation.Amx v2.0.0
  manifest.json
  src/mExtronDMPComm.axs
  src/mExtronDMPFaderUI.axs
  src/mExtronDMPFaderUIArray.axs
  src/mExtronDMPLevel.axs
  src/mExtronDMPLevelUI.axs
  src/mExtronDMPLevelUIArray.axs
  src/mExtronDMPPreset.axs
  src/mExtronDMPState.axs
  src/mExtronDMPStateUI.axs
  src/mExtronDMPStateUIArray.axs
Due: yarn pretty:fix, genlinx build -s

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn pretty:fix

Notes added by 'git notes add'
  47dc7e286e91b4e5444655c9f711843a6009b30f
Due: none

fix: apply fixes from NAVFoundation.Amx v2.0.1
  manifest.json
Due: yarn pretty:fix

chore(release): 2.0.1 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn pretty:fix

Notes added by 'git notes add'
  549c932e7cf5574466c065ae0b75560cd2b8f860
Due: none
