Repository Norgate-AV/NAVDatabase.Amx.ExtronDMP: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn pretty:fix, genlinx build -s

chore(deps): bump deps
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: yarn pretty:fix

chore(node): bump to 22.19.0
  .nvmrc
Due: none

ci: update checkout to v5
  .github/workflows/main.yml
Due: yarn pretty:fix

perf: remove unnecessary includes
  src/mExtronDMPFaderUI.axs
  src/mExtronDMPFaderUIArray.axs
  src/mExtronDMPLevelUI.axs
  src/mExtronDMPLevelUIArray.axs
  src/mExtronDMPStateUI.axs
  src/mExtronDMPStateUIArray.axs
Due: genlinx build -s

feat: update for NAVFoundation v3+
  manifest.json
  src/mExtronDMPComm.axs
  src/mExtronDMPLevel.axs
  src/mExtronDMPPreset.axs
  src/mExtronDMPState.axs
Due: yarn pretty:fix, genlinx build -s

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn pretty:fix

Notes added by 'git notes add'
  df9d16f01e464fe6820fb8eb5baa1554921d2ef7
Due: none

Path conditions:
  yarn pretty:fix: any of: *.{css,scss,md,html,json,yml,yaml}
  genlinx build -s: any of: *.axs
