Repository Norgate-AV/NAVDatabase.Amx.ExtronDMP: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn pretty:fix, genlinx build -s

.lintstagedrc.json:

{
    "*?(test|spec).{js,jsx,ts,tsx}": ["yarn lint:fix", "yarn pretty:fix"],
    "*.{css,scss,md,html,json,yml,yaml}": ["yarn pretty:fix"],
    "*.axs": ["genlinx build -s"]
}

Notes added by 'git notes add'
  932b4eba823c404141f2fb678903739527b7366d
Due: none

fix: fix json formatting in dispatcher
  .github/workflows/main.yml
Due: yarn pretty:fix

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn pretty:fix

Notes added by 'git notes add'
  fddb90eb8c27bfe15329d35e211c02a8c59907f5
Due: none

chore(vscode): pin workflow
  .vscode/settings.json
Due: yarn pretty:fix

fix: use git head for sha in dispatch payload
  .github/workflows/main.yml
Due: yarn pretty:fix

chore(release): 1.2.2 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn pretty:fix

Notes added by 'git notes add'
  f37c24923fb79af99ded7d8581b2673c49c92b58
Due: none

refactor(semantic-release): dont add axis to release assets
  .releaserc.json
Due: yarn pretty:fix

chore(release): 1.2.3 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn pretty:fix

Notes added by 'git notes add'
  843de6f05105e385fc8d0a1e624bcc7b47bc2105
Due: none

docs: update readme in installation and usage
  README.md
Due: yarn pretty:fix

feat: implement inter-module-api
  lib/LibExtronDMP.axi
  src/mExtronDMPComm.axs
  src/mExtronDMPLevel.axs
  src/mExtronDMPPreset.axs
  src/mExtronDMPState.axs
Due: genlinx build -s

fix: use constant string literal for software limits header
  lib/LibExtronDMP.axi
Due: none

refactor: ensure ready and initializing variables are initialized to false
  src/mExtronDMPComm.axs
Due: genlinx build -s

fix: break out of double loop correctly
  src/mExtronDMPComm.axs
Due: genlinx build -s

fix: ensure device ip address and password are free from trailing whitespace
  src/mExtronDMPComm.axs
Due: genlinx build -s

feat: add socket connection reset on change of ip address
  src/mExtronDMPComm.axs
Due: genlinx build -s

fix: use string literal for delimiter
  src/mExtronDMPComm.axs
Due: genlinx build -s

chore(deps): bump all deps
  package.json
  pnpm-lock.yaml
Due: yarn pretty:fix

chore(node): bump to 20.15.0
  .nvmrc
Due: none

fix(preset): use function that actually send the data
  src/mExtronDMPPreset.axs
Due: genlinx build -s

chore(deps): add conventional-changelog-conventionalcommits package
  package.json
  pnpm-lock.yaml
Due: yarn pretty:fix

chore(husky): update git hooks
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore(node): bump to 20.16.0
  .nvmrc
Due: none

ci: update semantic release step in workflow
  .github/workflows/main.yml
Due: yarn pretty:fix

ci: update releaserc.json
  .releaserc.json
Due: yarn pretty:fix

chore(desp): bump all deps
  package.json
  pnpm-lock.yaml
Due: yarn pretty:fix

chore(node): bump to 20.17.0
  .nvmrc
Due: none

chore: update SymLink script
  SymLink.ps1
Due: none

refactor: fix spelling error in debug log
  src/mExtronDMPComm.axs
Due: genlinx build -s

perf: set size of object array once known
  src/mExtronDMPComm.axs
Due: genlinx build -s

feat: add support for receiving string levels update to show dB levels
  src/mExtronDMPFaderUI.axs
  src/mExtronDMPFaderUIArray.axs
  src/mExtronDMPLevel.axs
  src/mExtronDMPLevelUI.axs
  src/mExtronDMPLevelUIArray.axs
Due: genlinx build -s

refactor: use NAVSendLevelArray function
  src/mExtronDMPFaderUIArray.axs
  src/mExtronDMPLevelUIArray.axs
Due: genlinx build -s

refactor: remove redundant code
  src/mExtronDMPFaderUIArray.axs
  src/mExtronDMPLevelUIArray.axs
Due: genlinx build -s

feat: add debug log for soft limits in level
  src/mExtronDMPLevel.axs
Due: genlinx build -s

feat: add better logging to registrations
  src/mExtronDMPLevel.axs
  src/mExtronDMPState.axs
Due: genlinx build -s

fix: reverse state for crosspoint mutes
  src/mExtronDMPState.axs
Due: genlinx build -s

style: remove extra line break
  src/mExtronDMPStateUIArray.axs
Due: genlinx build -s

chore: add NAVFoundation dependancy
  manifest.json
Due: yarn pretty:fix
