Repository Norgate-AV/NAVDatabase.Amx.ExtronDMP: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn pretty:fix, genlinx build -s

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn pretty:fix

Notes added by 'git notes add'
  36730089b2e31e3947ae8c8414bcd60782061040
Due: none

chore(semantic-release): update changelog config
  .changelogrc.json
  .releaserc.json
Due: yarn pretty:fix

refactor: remove superflous debug logs
  src/mExtronDMPFaderUI.axs
  src/mExtronDMPFaderUIArray.axs
  src/mExtronDMPStateUI.axs
  src/mExtronDMPStateUIArray.axs
Due: genlinx build -s

fix: send strings out of module to prevent retriggering incoming commands
  src/mExtronDMPFaderUI.axs
  src/mExtronDMPFaderUIArray.axs
  src/mExtronDMPLevel.axs
  src/mExtronDMPLevelUI.axs
  src/mExtronDMPLevelUIArray.axs
Due: genlinx build -s

refactor: improve ledgibility of debug logs
  src/mExtronDMPLevel.axs
  src/mExtronDMPPreset.axs
  src/mExtronDMPState.axs
Due: genlinx build -s

chore(release): 1.3.1 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn pretty:fix

Notes added by 'git notes add'
  6d1a7c3393b87dc4bddeb15b32ee7bfe7e4621e9
Due: none

fix: fix symlink and archiving bugs for scoop
  SymLink.ps1
  archive.ps1
  manifest.json
Due: yarn pretty:fix

chore(release): 1.3.2 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn pretty:fix

Notes added by 'git notes add'
  4b86ba42466df04cc93cada5111631e715033862
Due: none

fix: fixbug with archiving
  archive.ps1
Due: none

chore(release): 1.3.3 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn pretty:fix

Notes added by 'git notes add'
  3b209d49c2f6267398f2e10ae7f53b826fe8ddb5
Due: none

fix: add correct files to manifest
  manifest.json
Due: yarn pretty:fix

chore(node): bump to 20.18.0
  .nvmrc
Due: none

chore(deps): bump deps
  pnpm-lock.yaml
Due: yarn pretty:fix

feat: add logging of level updates and tp online/offline events
  src/mExtronDMPFaderUI.axs
  src/mExtronDMPFaderUIArray.axs
  src/mExtronDMPLevelUI.axs
  src/mExtronDMPLevelUIArray.axs
Due: genlinx build -s

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn pretty:fix

Notes added by 'git notes add'
  b57600ee75dbb600e9f6a82f62abcf9ab538163c
Due: none

fix(level): increment imediately instead of waiting for timeline
  src/mExtronDMPLevel.axs
Due: genlinx build -s

chore(release): 1.4.1 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn pretty:fix

Notes added by 'git notes add'
  1b06c3921a6374f35a3e7282fc8b52716c6d123e
Due: none

chore(deps): bump deps
  package.json
  pnpm-lock.yaml
Due: yarn pretty:fix

chore(node): bump to 22.11.0
  .nvmrc
Due: none

perf: use constants for timeline intervals
  src/mExtronDMPComm.axs
Due: genlinx build -s

chore(release): 1.4.2 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn pretty:fix

Notes added by 'git notes add'
  a6c18121d791e76c90e0a05e91270fc15b1db308
Due: none

fix(level): fix scaling calculation for level direct setting
  src/mExtronDMPLevel.axs
Due: genlinx build -s

chore(release): 1.4.3 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn pretty:fix

Notes added by 'git notes add'
  9c5433be2af7a785bb3813cb2d1e7c4a16209066
Due: none

fix(level): remove decimal point for scaling calculation
  src/mExtronDMPLevel.axs
Due: genlinx build -s

chore(release): 1.4.4 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn pretty:fix

Notes added by 'git notes add'
  a2cf5c86a51207d38a9a8541006b7bd72c51bbb6
Due: none

fix(level): pass input/output range correctly to scale function
  src/mExtronDMPLevel.axs
Due: genlinx build -s

chore(release): 1.4.5 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn pretty:fix

Notes added by 'git notes add'
  3dc6ae96426d756f5361e9ffd20c612851d9ea9f
Due: none

fix(level): ensure soft limits are at most 3 digits
  src/mExtronDMPLevel.axs
Due: genlinx build -s

chore(node): bump to 22.12.0
  .nvmrc
Due: none

chore(deps): bump all deps
  package.json
  pnpm-lock.yaml
Due: yarn pretty:fix

Path conditions:
  yarn pretty:fix: any of: *.{css,scss,md,html,json,yml,yaml}
  genlinx build -s: any of: *.axs
