Repository Norgate-AV/NAVDatabase.Amx.ExtronDMP: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn pretty:fix, genlinx build -s

style: add spacing
  src/mExtronDMPComm.axs
Due: genlinx build -s

refactor: use _DspObject type
  src/mExtronDMPComm.axs
Due: genlinx build -s

refactor: move object response ok into function
  src/mExtronDMPComm.axs
Due: genlinx build -s

refactor: move variable initialization closer to use
  src/mExtronDMPComm.axs
Due: genlinx build -s

refactor: use NAVSplitString to parse object tags
  src/mExtronDMPComm.axs
Due: genlinx build -s

fix: determine object index in data event
  src/mExtronDMPComm.axs
Due: genlinx build -s

refactor: make better use of message parsing functions
  src/mExtronDMPComm.axs
Due: genlinx build -s

refactor: add some constants and helper functions
  src/mExtronDMPComm.axs
Due: genlinx build -s

refactor: rename ipCheck to socketCheck
  src/mExtronDMPComm.axs
Due: genlinx build -s

refactor: decrease heartbeat to 20s
  src/mExtronDMPComm.axs
Due: genlinx build -s

refactor: remove length of delimiter rather than magic number
  src/mExtronDMPComm.axs
Due: genlinx build -s

refactor: move some functions into LibExtronDMP
  lib/LibExtronDMP.axi
  src/mExtronDMPComm.axs
Due: genlinx build -s

refactor: major refactoring of Level module
  lib/LibExtronDMP.axi
  src/mExtronDMPLevel.axs
Due: genlinx build -s

refactor: move some function into LibExtronDMP
  lib/LibExtronDMP.axi
  src/mExtronDMPLevel.axs
Due: genlinx build -s

refactor: update State module to work with LibExtronDMP and Foundation libs
  lib/LibExtronDMP.axi
  src/mExtronDMPState.axs
Due: genlinx build -s

refactor: update Preset module to work with LibExtronDMP and Foundation libs
  src/mExtronDMPPreset.axs
Due: genlinx build -s

ci: update checkout to v3
  .github/workflows/main.yml
Due: yarn pretty:fix

ci: clear out before checking out
  .github/workflows/main.yml
Due: yarn pretty:fix

ci: update clean step
  .github/workflows/main.yml
Due: yarn pretty:fix

ci: force clean
  .github/workflows/main.yml
Due: yarn pretty:fix

ci: remove clean
  .github/workflows/main.yml
Due: yarn pretty:fix

ci: run on any self-hosted windows
  .github/workflows/main.yml
Due: yarn pretty:fix

ci: dont persist credentials
  .github/workflows/main.yml
Due: yarn pretty:fix

chore: move to pnpm package manager
  .github/workflows/main.yml
  .husky/commit-msg
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: yarn pretty:fix

build: add build script
  SymLink.ps1
  build.ps1
Due: none

chore: update company name
  .all-contributorsrc
  LICENSE
  README.md
Due: yarn pretty:fix

chore(node): bump node to 18.18.0
  .nvmrc
Due: none

chore(lint-staged): only run on staged files
  .lintstagedrc.json
Due: yarn pretty:fix

chore(genlinx): use relative file paths
  .genlinxrc.json
Due: yarn pretty:fix

chore(gitattributes): add common attributes
  .gitattributes
Due: none

refactor: refactor code base to utilize foundation library
  lib/LibExtronDMP.axi
  src/mExtronDMPComm.axs
  src/mExtronDMPFaderUI.axs
  src/mExtronDMPFaderUIArray.axs
  src/mExtronDMPLevel.axs
  src/mExtronDMPLevelUI.axs
  src/mExtronDMPLevelUIArray.axs
  src/mExtronDMPPreset.axs
  src/mExtronDMPState.axs
  src/mExtronDMPStateUI.axs
  src/mExtronDMPStateUIArray.axs
Due: genlinx build -s

revert: revert to previous module versions
  lib/.gitkeep
  lib/LibExtronDMP.axi
  src/mExtronDMPComm.axs
  src/mExtronDMPFaderUI.axs
  src/mExtronDMPFaderUIArray.axs
  src/mExtronDMPLevel.axs
  src/mExtronDMPLevelUI.axs
  src/mExtronDMPLevelUIArray.axs
  src/mExtronDMPPreset.axs
  src/mExtronDMPState.axs
  src/mExtronDMPStateUIArray.axs
Due: genlinx build -s

refactor: pad preset with leading zero
  src/mExtronDMPPreset.axs
Due: genlinx build -s

fix: check ready for init
  src/mExtronDMPComm.axs
Due: genlinx build -s

chore(deps): bumps deps
  package.json
  pnpm-lock.yaml
Due: yarn pretty:fix

chore(vscode): update workspace settings
  .vscode/settings.json
Due: yarn pretty:fix

chore(husky): update lint-staged command
  .husky/pre-commit
Due: none

style: general cleanup of indentation and spacing
  src/mExtronDMPComm.axs
  src/mExtronDMPFaderUI.axs
  src/mExtronDMPFaderUIArray.axs
  src/mExtronDMPLevel.axs
  src/mExtronDMPLevelUI.axs
  src/mExtronDMPLevelUIArray.axs
  src/mExtronDMPPreset.axs
  src/mExtronDMPState.axs
  src/mExtronDMPStateUI.axs
  src/mExtronDMPStateUIArray.axs
Due: genlinx build -s

build: use project version of genlinx
  build.ps1
Due: none

ci: use checkout@v4
  .github/workflows/main.yml
Due: yarn pretty:fix

Path conditions:
  yarn pretty:fix: any of: *.{css,scss,md,html,json,yml,yaml}
  genlinx build -s: any of: *.axs
