Repository Norgate-AV/NAVDatabase.Amx.ExtronDMP: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn pretty:fix, genlinx build -s

.lintstagedrc.json:

{
    "*?(test|spec).{js,jsx,ts,tsx}": ["yarn lint:fix", "yarn pretty:fix"],
    "*.{css,scss,md,html,json,yml,yaml}": ["yarn pretty:fix"],
    "*.axs": ["genlinx build -s"]
}

chore(node): bump to 20.11.1
  .nvmrc
Due: none

ci: use checkout@v4
  .github/workflows/main.yml
Due: yarn pretty:fix

chore(vscode): update workspace settings
  .vscode/settings.json
Due: yarn pretty:fix

chore(husky): update lint-staged command
  .husky/pre-commit
Due: none

chore(deps): bumps deps
  package.json
  pnpm-lock.yaml
Due: yarn pretty:fix

build: use project version of genlinx
  build.ps1
Due: none

chore(husky): remove install from husky command
  package.json
Due: yarn pretty:fix

refactor: replace NAVLog with NAVErrorLog
  lib/LibExtronDMP.axi
  src/mExtronDMPComm.axs
  src/mExtronDMPFaderUI.axs
  src/mExtronDMPFaderUIArray.axs
  src/mExtronDMPLevel.axs
  src/mExtronDMPLevelUI.axs
  src/mExtronDMPLevelUIArray.axs
  src/mExtronDMPPreset.axs
  src/mExtronDMPState.axs
  src/mExtronDMPStateUI.axs
  src/mExtronDMPStateUIArray.axs
Due: genlinx build -s

ci: update workflow for semantic-release
  .changelogrc.json
  .github/workflows/main.yml
  .npmrc
  .releaserc.json
  package.json
  pnpm-lock.yaml
Due: yarn pretty:fix

ci: add size check workflow
  .github/workflows/size.yml
Due: yarn pretty:fix

docs: fix broken links
  README.md
Due: yarn pretty:fix

ci: run size workflow on self-hosted
  .github/workflows/size.yml
Due: yarn pretty:fix

chore: add size-limit preset package
  package.json
  pnpm-lock.yaml
Due: yarn pretty:fix

chore: add size-limit config
  .size-limit.json
Due: yarn pretty:fix

ci: ski£build step in size-limit workflow action
  .github/workflows/size.yml
Due: yarn pretty:fix

ci: add install step for size-limit workflow
  .github/workflows/size.yml
Due: yarn pretty:fix

ci: remove permissions from size-limit workflow
  .github/workflows/size.yml
Due: yarn pretty:fix

ci: remove size-limit workflow
  .github/workflows/size.yml
  .size-limit.json
  package.json
  pnpm-lock.yaml
Due: yarn pretty:fix

refactor: refactor modules (#18)
  .changelogrc.json
  .github/workflows/main.yml
  .npmrc
  .releaserc.json
  README.md
  lib/LibExtronDMP.axi
  package.json
  pnpm-lock.yaml
  src/mExtronDMPComm.axs
  src/mExtronDMPFaderUI.axs
  src/mExtronDMPFaderUIArray.axs
  src/mExtronDMPLevel.axs
  src/mExtronDMPLevelUI.axs
  src/mExtronDMPLevelUIArray.axs
  src/mExtronDMPPreset.axs
  src/mExtronDMPState.axs
Due: yarn pretty:fix, genlinx build -s

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: yarn pretty:fix

Notes added by 'git notes add'
  a506645408bd89f908c79f4ef642b19e8091e86a
Due: none

fix: fix path so assets upload to release
  .releaserc.json
Due: yarn pretty:fix

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn pretty:fix

Notes added by 'git notes add'
  23a1ba5d7c4e1730924fb1f81b32e85bef44d5d8
Due: none

feat: log socket errors to error log
  src/mExtronDMPComm.axs
Due: genlinx build -s

chore: add semantic-release/exec package
  package.json
  pnpm-lock.yaml
Due: yarn pretty:fix

ci: update ci workflow for semantic-release
  .github/workflows/main.yml
  .releaserc.json
  SymLink.ps1
  archive.ps1
  manifest.json
Due: yarn pretty:fix

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn pretty:fix

Notes added by 'git notes add'
  d9f7758de885d4a519721c53fb12d6ccb47a5cff
Due: none

fix: fix type cast warning
  src/mExtronDMPComm.axs
Due: genlinx build -s

refactor: remove unused code
  src/mExtronDMPComm.axs
Due: genlinx build -s

ci: remove axi files from archive as not needed in deployment
  SymLink.ps1
  manifest.json
Due: yarn pretty:fix

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn pretty:fix

Notes added by 'git notes add'
  c8f5f00682598808aad3af9745a7daaeea9e498a
Due: none

feat: add dispatch step to workflow to trigger scoop excavator
  .github/workflows/main.yml
Due: yarn pretty:fix

refactor(semantic-release): add branches input
  .github/workflows/main.yml
Due: yarn pretty:fix

refactor(semantic-release): use specific commit for action
  .github/workflows/main.yml
Due: yarn pretty:fix

refactor(semantic-release): use full length sha for commit
  .github/workflows/main.yml
Due: yarn pretty:fix

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  manifest.json
  package.json
Due: yarn pretty:fix
